.card {
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
}

.card--img {
    width: 100%;
    height: 300px;
}

.card--container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    max-width: 100%;
    flex-wrap: wrap;
}

.gift {
    position: absolute;
    /* border: 2px solid red; */
    color: red;
    top: 1px;
    right: 1px;
    background-color: white;
    border-radius: 7px;
}

.gift i {
    font-size: 40px;
    padding: 5px;
    color: red;
}

.freeShipping {
    position: absolute;
    font-size: 15px;
    font-weight: 900;
    top: 3px;
    color: white;
    left: 3px;
    background-color: rgb(19, 4, 99);
    padding: 15px;
    border-radius: 10px;
}

.topic {
    font-size: 15px;
    font-weight: 900;
    color: darkslategray;
}

.card--data {
    display: flex;
    justify-content: space-around;
    color: red;
    margin: 10px;
}

.card--author {
    color: black;
}

.card--button {
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: darkslategray;
    font-weight: 900
}

.card--buy {
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: darkslategray;
    color: white;
}